.tamanho{
    width: 100%;
    align-items: center;
    
    
}
.cards{
    list-style: none;
    padding: 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 10rem;
    justify-content: center;
    
}
.card{
    border-radius: 20px;
    height: 280px;
    width: 285px;
    margin-right: 1rem;
    margin-bottom: 1.35rem;
    

    
    &:hover {
        
        -webkit-transform: scale(1.1);
        transform: scale(1.025);
        transition: 0.18s;
    }
}
.imagem_certificados{
    height: 75%;
    width: 100%;
    border-radius: 20px;
}
img {
    cursor: pointer;
  }